# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# FVM Version Cache
.fvm/
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=430f6c3417cdf27ec1ce682a3995713a-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=442478de683f7fb38ef3cd8ab6a0be50-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=44e2c8185a59c49282cc02d044018a7f-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=4bccc8d5836d316a477fbaba030a370e-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=4f59abe680a9f94b101c6e9bec7159f5-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=51faf55fd835c220439bf631b73b3b61-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=52e6fba6cccbb9f7eb5cc4344b26dda5-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=53b81b9c5329c2cdc0c24a1d9c43c9e5-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=5461e6f88a25fe820780dfd7b52cd765-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=5a32d36861d64a501a73dce81f91ea57-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=6944dd0d4f2eafc5d47313a8dce59d3a-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=6c6751dfc41ef6c2e8a6da30ed99c8ab-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=743b5461be5d9dc51f4a1abc41614771-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=74a054fc46dba2142954a32c8dcf910b-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=7581433506a3dca81d5cc47c462c57da-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=7720a7018a1dc04357ade08c4c93c0de-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=78da29a4398dde31a5ccb0aa87c5a618-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=7ce4fa519819b13a38291b96b87d874d-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=851fe58a17777f314001b2ed8919513c-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=8557a53290840ba4762fe1c86684598a-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=88dec70127a75678ca01cf8d548e8ca0-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=8905ce382a6827b55ba143fc30734b69-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=90e3913eaaa30cd538ee1b2c1a33b30b-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=923673ae87ff22b4165c458980c1612a-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=96c82b39d5f2d8f32a79f140cfd2af6a-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=9753d4335dfb8afc2fa6af55236d363e-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=998d76f3332a0c5745d99c5958c51b1c-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=a3624710b06ffd66e44721b53c6604a3-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=a8b6f68bf66718f8387cdc3c3707b454-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=abd92c2f6e0825da1e6eb09830256da9-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=ade2a854b1bbeb7e18fb4355cc1f6996-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=b533ec8a13bb81bbe5e851d0a7189096-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=b8ba23cc666e64a6727f9f9126e7dab2-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=ba80171e66aa08d3b88e927c4fedebc0-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=bb39896147e8eafff7e68cd81557aecb-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=bc7f8db4a4a5a7ec92499381aa96d2d3-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=bd3b3472afb1cbfa6072770906a7ab0a-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=c0a4c7eb34329299b18524494a7c5d3c-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=c19e863ad51daad635e0d0b3fbe8024c-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=c467b578687e2638cca3d17f72923e62-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=c95c42765ab33b936bf0ad9861d64bfe-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=cc714e8de9185c73baf2c558d722277a-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=d0424e5c7e86d72d0d05a4f6b3bc2001-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=d10867f020de804009d1e12d0f3e15e2-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=d174477918ab08d475515a1bc182a2d6-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=d2aa94a46f0cc4d526c1823466880a8e-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=d7f21babbac35b6cc9d4af19a22884a4-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=de3a5771f6f114b4224d966d465406ab-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=e8abf37b40c7d1979e6ec7d689d6b50f-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=eabc5da5d0e60c429415c7ddff49ed17-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=f186b3a7d80fd40c9e7fb68d1eab81ae-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=f2b8572c1db69556f669bef45a1e5728-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=fb0a3d51cf6348d374c836f2454949c8-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=fb2fa6e010bc04097515fced7ff8b5d1-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=fccf9326c3b2eecbec795c91ef3a4e1c-json
ios/build/ios/XCBuildData/PIFCache/workspace/WORKSPACE@v11_hash=(null)_subobjects=5f0171dfc6d777259fb9165e1b4c1cdd-json
